
nav  {
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin-bottom: 1em;
    padding: 5px;
   
    
}
nav a{
    color: white;
}
/* This is the CSS for the Home page*/
body {
    display: flex;
    flex-direction: column;
    background-color: #51e2f5;
   align-items: center;
   margin: 0;
}

.home {
    
    color: aquamarine;
    
}

.chihuahua-swim {
    height:450px;
    width: 450px;

    
   
}

.swim-text {
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* This is the CSS for the About page*/

#para {
    text-align: center;
    font-size: larger;

}

#another-header {
    text-align: center;
    text-decoration: double;
}

.second-header {
    text-align: center
}

.dog-pair {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* This is the CSS for the Contct Us page*/
table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid blue
}
#form {
    text-align: center;
}

